.titContent {
  td {
    line-height: 60px;
  }

  p {
    max-width: 100%;
    line-height: 20px;
    margin: 5px 12px;
    padding: 0;
    font-size: 14px;
    word-spacing: 10px;
    word-wrap:break-word;
    white-space: normal;
    word-break: break-all;
  };
  p:nth-child(1) {
    font-weight: bold;
  }
  p:nth-child(3) {
    color: gray;
    font-size: 12px;
  }
}
