<div class="c-content-inner formSearch">
  <div class="row">
    <div class="form-inline form-margin">
      <div class="form-group">
        <button class="btn btn-danger" (click)="save('')"><i class="fa fa-plus fa-fw"></i> 新增</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="text-center c-w-1">项目编码</th>
          <th class="text-center c-w-1">项目名称</th>
          <th class="text-center c-w-1">指向对象</th>
          <th class="text-center c-w-1">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataList;let i = index" [ngClass]="{'grey':i%2===0}">
          <td class="text-center">{{data.projectCode}}</td>
          <td class="text-center">{{data.project}}</td>
          <td class="text-center ellipsis100" title="{{data.productStr}}">{{data.productStr}}</td>
          <td class="text-center">
            <button class="btn btn-success btn-sm" (click)="save(data.projectId)"><i class="fa fa-pencil fa-fw"></i> 修改</button>
          </td>
        </tr>
        </tbody>
      </table>
      <!--<c-pagination *ngIf="dataList.length > 0" [pageSize]="options.rows" (pageChange)="onPageChanged($event)" [collectionSize]="options.pageCount" [(page)]="options.page" [total]="options.total" [boundaryLinks]="true"></c-pagination>-->
    </div>
  </div>
</div>
