<div class="container-fluid">

    <div class="modal-body" style="height: 500px; position: relative;left: 368px;top: 119px;">
      <div class="row" style="position: absolute">
        <h2>是否保留至历史运营元素中</h2>
      </div>
      <div class="" style="position: absolute;position: absolute;left: 42px;top: 202px;">
        <button type="button" class="btn btn-primary" (click)="ok()" style="width: 100px">
          <i class="fa fa-check" aria-hidden="true"></i> 需要</button>
        <button type="button" class="btn btn-danger  c-ml15" (click)="close()" style="width: 100px">
          <i class="fa fa-close" aria-hidden="true"></i> 不需要</button>
      </div>
    </div>
</div>
