<div class="container-fluid">
  <form [formGroup]="saveTapeForm">
    <div class="modal-header">
      <h5 class="modal-title">{{modalData === "" ? "新增" : "修改"}}大盘订购规则</h5>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right"><span class="text-danger">*</span> 项目：</label>
            <div class="col-md-9">
              <select class="form-control" formControlName="point" (change)="nodeCodeChange()">
                <option value="">请选择项目</option>
                <option *ngFor="let item of nodeCodes" [value]="item.sProjectCode">{{item.sProject}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right"><span class="text-danger">*</span> 省份：</label>
            <div class="col-md-9">
              <select class="form-control" formControlName="province" (change)="proChange()">
                <option *ngIf="sProvinceCodes.length === 0" value="">请先选择项目</option>
                <option *ngIf="sProvinceCodes.length !== 0" value="">请选择</option>
                <option *ngFor="let item of sProvinceCodes" [value]="item.provinceCode">{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right"><span class="text-danger">*</span> 产品：</label>
            <div class="col-md-9">
              <select class="form-control" formControlName="product">
                <option *ngIf="productCodes.length === 0" value="">请先选择省份</option>
                <option *ngIf="productCodes.length !== 0" value="">请选择</option>
                <option *ngFor="let item of productCodes" [value]="item.productCode">{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right"><span class="text-danger">*</span> 订购转化率上限：</label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="limit" placeholder="必须是数字">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <div class="row">
        <button type="button" class="btn btn-primary" (click)="ok()">
        <i class="fa fa-check" aria-hidden="true"></i> 确定</button>
        <button type="button" class="btn btn-light  c-ml15" (click)="close()">
        <i class="fa fa-close" aria-hidden="true"></i> 关闭</button>
      </div>
    </div>

  </form>
</div>
