<div class="container-fluid">
  <!--<form [formGroup]="saveAlbumTempForm">-->

    <div class="modal-header">
      <h5 class="modal-title">按钮属性</h5>
      <span style ="margin: 2px 4px">{{'--' + AlbumTempData.data[AlbumTempData.ind].alias}}</span>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 宽(px)：</label>
            <div class="col-md-9">
              <input type="text" class="form-control"  placeholder="只填数值" [(ngModel)]="AlbumTempData.data[AlbumTempData.ind].eleWidth">
              <div class="c-validator-invalid" [hidden]="true">
                名称不能为空！
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 高(px)：</label>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="只填数值" [(ngModel)]="AlbumTempData.data[AlbumTempData.ind].eleHeight">
              <div class="c-validator-invalid" [hidden]="true">
                排序值输入不正确！
              </div>
            </div>
          </div>
        </div>
        <!--<div class="col-md-3">-->
          <!--<div class="form-group row">-->
            <!--<label class="col-md-12 col-form-label text-danger">3个字符以内！</label>-->
          <!--</div>-->
        <!--</div>-->
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> X轴距离：</label>
            <div class="col-md-9">
              <input type="text" class="form-control"   placeholder="可选填" [(ngModel)]="AlbumTempData.data[AlbumTempData.ind].eleLeft">
              <div class="c-validator-invalid" [hidden]="true">
                名称不能为空！
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> Y轴距离：</label>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="可选填" [(ngModel)]="AlbumTempData.data[AlbumTempData.ind].eleTop">
              <div class="c-validator-invalid" [hidden]="true">
                排序值输入不正确！
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger"></span> 遥控键上：</label>
            <div class="col-md-9">
              <select class="form-control d-inline" [(ngModel)]="AlbumTempData.data[AlbumTempData.ind].upEleId">
                <option [value]=null>无</option>
                <option *ngFor="let item of AlbumTempData.data" [value]="item.elementId">{{item.alias}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger"></span> 遥控键下：</label>
            <div class="col-md-9">
              <select class="form-control d-inline" [(ngModel)]="AlbumTempData.data[AlbumTempData.ind].downEleId">
                <option [value]=null>无</option>
                <option *ngFor="let item of AlbumTempData.data" [value]="item.elementId">{{item.alias}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger"></span> 遥控键左：</label>
            <div class="col-md-9">
              <select class="form-control d-inline" [(ngModel)]="AlbumTempData.data[AlbumTempData.ind].leftEleId">
                <option [value]=null>无</option>
                <option *ngFor="let item of AlbumTempData.data" [value]="item.elementId">{{item.alias}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger"></span> 遥控键右：</label>
            <div class="col-md-9">
              <select class="form-control d-inline" [(ngModel)]="AlbumTempData.data[AlbumTempData.ind].rightEleId">
                <option [value]=null>无</option>
                <option *ngFor="let item of AlbumTempData.data" [value]="item.elementId">{{item.alias}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>





    </div>

    <div class="modal-footer">
      <div class="row">
        <button type="button" class="btn btn-primary" (click)="ok()">
          <i class="fa fa-check" aria-hidden="true"></i> 确定</button>
        <button type="button" class="btn btn-light  c-ml15" (click)="close()">
          <i class="fa fa-close" aria-hidden="true" ></i> 关闭</button>
      </div>
    </div>

  <!--</form>-->
</div>
