<div class="container-fluid" style="min-height: 700px;">
  <div class="modal-header">
    <h5 class="modal-title">元素关联页面选择</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-body-minH">
    <div class="row">
      <div class="form-inline form-margin">
        <div class="form-group">
          <label class="col-form-label">元素编码：</label>
          <div class="noPadding">
            <input type="text" class="form-control" [(ngModel)]="sEleCode" placeholder="请输入元素编码" (keyup.enter)="search()" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">元素别名：</label>
          <div class="noPadding">
            <input type="text" class="form-control" [(ngModel)]="sAlias" placeholder="请输入元素别名" (keyup.enter)="search()" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">元素类型：</label>
          <div class="noPadding">
            <select class="form-control" [(ngModel)]="sPageEleType" (change)="selectChange(sPageEleType)">
              <option value="">全部</option>
              <option *ngFor="let item of pageEleTypes" [value]="item.type">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">资源类型：</label>
          <div style="padding: 0 8px;">
            <select class="form-control" [(ngModel)]="sPageResType" (change)="selectChange(sPageResType)">
              <option value="">全部</option>
              <option *ngFor="let item of pageResTypes" [value]="item.type">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="search()"><i class="fa fa-search fa-fw"></i> 查询</button>
          <button class="btn btn-success" (click)="clear()"><i class="fa fa-refresh fa-fw"></i> 重置</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th *ngIf="!checkAllBox"></th>
            <th *ngIf="checkAllBox" class="text-center c-w-1"><input type="checkbox" class="checked" [checked]="isAllChecked()" (change)="checkAll($event)" /></th>
            <th class="text-center c-w-1">序号</th>
            <th class="text-center c-w-3">元素编码</th>
            <th class="text-center c-w-4">元素别名</th>
            <th class="text-center c-w-3">元素类型</th>
            <th class="text-center c-w-3">资源类型</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of dataList;let i = index" [ngClass]="{'grey':i%2===0, 'avtive':data.checkState}" (click)="checkTr(i)">
            <td class="text-center"><input type="checkbox" class="checked" [(ngModel)]="data.checkState" /></td>
            <td class="text-center">{{i+1+initNum}}</td>
            <td class="text-center">{{data.elementId}}</td>
            <td class="text-center">{{data.alias}}</td>
            <td class="text-center">{{data.eleType | pageElementType}}</td>
            <td class="text-center">{{data.resType | pageResources}}</td>
          </tr>
          <tr *ngIf="dataList.length === 0">
            <td class="noData" colspan="5">暂无数据</td>
          </tr>
          </tbody>
        </table>
        <c-pagination *ngIf="dataList.length > 0" [pageSize]="options.rows" (pageChange)="onPageChanged($event)" [collectionSize]="options.pageCount" [(page)]="options.page" [total]="options.total" [boundaryLinks]="true"></c-pagination>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <button type="button" class="btn btn-primary" (click)="ok()">
        <i class="fa fa-check" aria-hidden="true"></i> 确定选择</button>
      <button type="button" class="btn btn-light  c-ml15" (click)="close()">
        <i class="fa fa-close" aria-hidden="true"></i> 关闭</button>
    </div>
  </div>
</div>
