@import '../../../assets/scss/base/app-base.scss';
.relative{
  position: relative;
  .vessel{
    vertical-align: middle;
    padding: 2px 5px !important;
    line-height: 25px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 260px;
    height: 30px
  }
  .glance, .vesselFile{
    vertical-align: middle;
    width: 50px;
    height: 30px;
    position: absolute;
    left:280px;
    top:0;
    @include radiuds(4px);
    z-index: 2;
  }
  .vesselFile{
    @include opacity(0);
    z-index: 9;
  }
  .picView{
    margin-top: 10px;
    padding: 5px;
    width: 263px;
    height: 113px;
    border: 1px solid #cecece;
    @include radiuds(5px);
    img{
      width: 250px;
      height: 100px;
    }
  }
}
.classRoom{
  //margin: 5px 0;
  padding: 10px;
  border: 1px solid #d9daf5;
  @include radiuds(6px);
}
.overflow{
  max-height: 700px;
  //overflow: auto;
}
.textInput{
  text-align: center;
  display: inline-block;
  width: 60px;
  border-radius: 10%;
}

.earaMargin {
  margin:10px 14px;
  .areaWarap {
    position: relative;
    .tableMar {
      margin-bottom: 30px;
    }
    .sortBtn {
      position: absolute;
      bottom: -3px;
      right: 45px;
    }
  }
}
.showImgs{
  margin-top: 10px;
  .img{
    float: left;
    position: relative;
    margin-right: 15px;
    margin-bottom: 28px;
    padding: 8px;
    border: 1px dashed #cecece;
    @include radiuds(3px);
    img{
      width: 160px;
      height: 100px;
      padding: 0;
      //cursor: pointer;
    }
    input{
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 99;
      width: 176px;
      height: 65px;
      padding: 0;
      border: 0;
      cursor: pointer;
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0;
      filter:alpha(opacity=0);
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
      filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    }
    .del {
      position: absolute;
      cursor: pointer;
      width: 40px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 13px;
      right: 8px;
      bottom: 8px;
      color: #fff;
      background: #20a8d8;
      z-index:999;
    }
    .del:hover{
      background: #f95372;
    }
  }
  .des{
    border: 1px solid #ced4da;
    font-size: 15px;
    width: 280px !important;
    height: 117px !important;
    @include radiuds(5px);
    vertical-align: middle;
  }
  .changeGray{
    background: gray !important;
    border-color: gray !important;
  }
}
