<div class="container-fluid">
  <div class="modal-header">
    <h5 class="modal-title">
      <input class="form-control" type="text" value="{{saveVideo.pagePartName}}" [(ngModel)]="saveVideo.pagePartName">
      <i class="fa fa-edit fa-fw"></i>
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body overflow carousel" c-custom-scrollbar>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 选择小视频：</label>
            <div class="col-md-9">
              <div class="form-control click-searchInput" (click)="showThisEle()">{{eleValue}}<i class="fa fa-search float-right"></i></div>
              <input type="hidden" class="form-control" [(ngModel)]="eleValue" (click)="showThisEle()" placeholder="请选取元素值" />
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <button type="button" class="btn btn-primary" (click)="ok()">
        <i class="fa fa-check" aria-hidden="true"></i> 确定</button>
      <button type="button" class="btn btn-light  c-ml15" (click)="close()">
        <i class="fa fa-close" aria-hidden="true"></i> 关闭</button>
    </div>
  </div>
</div>
