.ztree * {
  font-size:15px;
  line-height: 25px;
  font:normal normal normal 14px/1 FontAwesome;
}
.ztree li span.button{
  background-position: 1000px;
  padding: 9px 0 0 4px;
}

.ztree li a input.rename {
  font-size:13px;
}
