<div class="c-content-inner formSearch">
  <div class="row">
    <div class="form-inline form-margin">
      <div class="form-group">
        <!--<button class="btn btn-danger" (click)="save('')"><i class="fa fa-plus fa-fw"></i> 新增</button>-->
        <!--<button class="btn btn-warning" (click)="del('')"><i class="fa fa-trash-o fa-fw"></i> 删除</button>-->
      </div>
    </div>
    <div class="form-inline form-margin">
      <div class="form-group">
        <label class="col-form-label">项目：</label>
        <div class="noPadding">
          <select class="form-control" [(ngModel)]="itemCode">
            <option value="">请选择项目</option>
            <option *ngFor="let item of itemData" [value]="item.sProjectCode">{{item.sProject}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label">活动编码：</label>
        <div class="noPadding">
          <input type="text" class="form-control" [(ngModel)]="actCode" placeholder="支持模糊查询" (keyup.enter)="search()" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label">用户账号：</label>
        <div class="noPadding">
          <input type="text" class="form-control" [(ngModel)]="userId" placeholder="支持模糊查询" (keyup.enter)="search()" />
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" (click)="search()"><i class="fa fa-search fa-fw"></i> 查询</button>
        <button class="btn btn-success" (click)="clear()"><i class="fa fa-refresh fa-fw"></i> 重置</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <!--<th class="text-center"><input type="checkbox" class="checked" [checked]="isAllChecked()" (change)="checkAll($event)" /></th>-->
          <th class="text-center c-w-1">项目</th>
          <th class="text-center c-w-1">活动名称</th>
          <th class="text-center c-w-1">用户账号</th>
          <th class="text-center c-w-1">剩余虚拟币</th>
          <th class="text-center c-w-1">总虚拟币</th>
          <th class="text-center c-w-1">累计次数</th>
          <th class="text-center c-w-1">赠送标识</th>
          <th class="text-center c-w-1">手机号</th>
          <th class="text-center c-w-1">钱包ID</th>
          <th class="text-center c-w-1">QQ号</th>
          <th class="text-center c-w-1">记录时间</th>
          <!--<th class="text-center c-w-1">操作</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataList;let i = index">
          <!--<td class="text-center"><input type="checkbox" class="checked" value="{{data.id}}" [(ngModel)]="data.checkState" /></td>-->
          <td class="text-center ellipsis180" title="{{data.itemName}}">{{data.itemName}}</td>
          <td class="text-center ellipsis180" title="{{data.actName}}">{{data.actName}}</td>
          <td class="text-center ellipsis180" title="{{data.userId}}">{{data.userId}}</td>
          <td class="text-center ellipsis180" title="{{data.leftCoins}}">{{data.leftCoins}}</td>
          <td class="text-center ellipsis180" title="{{data.totalCoins}}">{{data.totalCoins}}</td>
          <td class="text-center ellipsis180" title="{{data.hisTimes}}">{{data.hisTimes}}</td>
          <td class="text-center ellipsis180" title="{{data.presentFlag}}">{{data.presentFlag === 0 ? '未参与 ' : '已参与'}}</td>
          <td class="text-center ellipsis180" title="{{data.tel}}">{{data.tel}}</td>
          <td class="text-center ellipsis180" title="{{data.walletId}}">{{data.walletId}}</td>
          <td class="text-center ellipsis180" title="{{data.qq}}">{{data.qq}}</td>
          <td class="text-center ellipsis180" title="{{data.updateTime | date:'y-MM-dd HH:mm:ss'}}">{{data.updateTime | date:'y-MM-dd HH:mm:ss'}}</td>
          <!--<td class="text-center">-->
            <!--<button class="btn btn-success btn-sm" (click)="save(data.id)"><i class="fa fa-pencil fa-fw"></i> 编辑</button>-->
            <!--<button class="btn btn-danger btn-sm" (click)="del(data.id)"><i class="fa fa-trash-o fa-fw"></i> 删除</button>-->
          <!--</td>-->
        </tr>
        <tr *ngIf="dataList.length === 0">
          <td class="noData" colspan="16">暂无数据</td>
        </tr>
        </tbody>
      </table>
      <c-pagination *ngIf="dataList.length > 0" [pageSize]="options.rows" (pageChange)="onPageChanged($event)" [collectionSize]="options.pageCount" [(page)]="options.page" [total]="options.total" [boundaryLinks]="true"></c-pagination>
    </div>
  </div>
</div>
