<div class="container-fluid">
  <form [formGroup]="saveObjForm">
    <div class="modal-header">
      <h5 class="modal-title">{{modalData === '' ? "新增" : "修改"}}指向对象</h5>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 指向产品名：</label>
            <div class="col-md-9">
              <select class="form-control d-inline"  (change)="getVerPost()" formControlName="name">
                <option value="">请选择指向产品名</option>
                <option *ngFor="let item of verData" [value]="item.sProductName">{{item.sProductName}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 版本类型：</label>
            <div class="col-md-9">
              <select class="form-control d-inline" formControlName="version">
                <option value="">请选择版本类型</option>
                <option *ngFor="let item of verStrData" [value]="item.sProductVer">{{item.sProductVerNameStrs}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 指向产品编码：</label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="code" placeholder="" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 编码缩写：</label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="shortCode" placeholder="" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <div class="row">
        <button type="button" class="btn btn-primary" (click)="ok()">
        <i class="fa fa-check" aria-hidden="true"></i> 确定</button>
        <button type="button" class="btn btn-light  c-ml15" (click)="close()">
        <i class="fa fa-close" aria-hidden="true"></i> 关闭</button>
      </div>
    </div>

  </form>
</div>
