<div class="c-content-inner formSearch">
  <div class="row">
    <div class="form-inline form-margin">
      <div class="form-group">
        <button class="btn btn-danger" (click)="save('')"><i class="fa fa-plus fa-fw"></i> 新增</button>
        <button class="btn btn-warning" (click)="del('')"><i class="fa fa-minus-circle fa-fw"></i> 删除</button>
      </div>
    </div>
    <div class="form-inline form-margin">
      <div class="form-group">
        <label class="col-form-label">内部计费编码：</label>
        <div class="noPadding">
          <input type="text" class="form-control" [(ngModel)]="productCode" (keyup.enter)="search()" placeholder="支持模糊查询"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label">产品编码：</label>
        <div class="noPadding">
          <select class="form-control" [(ngModel)]="projectCode">
            <option value="">请选择编码</option>
            <!--<option *ngFor="let item of projects" [value]="item.sProductcode">{{item.sProductName}}</option>-->
            <option *ngFor="let item of projects" [value]="item.sProductcode">{{item.sProductcode}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label">运营商：</label>
        <div class="noPadding">
          <select class="form-control" [(ngModel)]="carrier">
            <option value="">请选择运营商</option>
            <option *ngFor="let item of carrierAttr" [value]="item.type">{{item.name}}</option>
            <!--<option *ngFor="let item of carrierAttr" [value]="item.type">{{item.type}}</option>-->
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label">省份：</label>
        <div class="noPadding">
          <select class="form-control" [(ngModel)]="provinceCode">
            <option value="">请选择省份</option>
            <option *ngFor="let item of provinces" [value]="item.sAreaCode">{{item.sAreaName}}</option>
            <!--<option *ngFor="let item of provinces" [value]="item.sAreaCode">{{item.sAreaCode}}</option>-->
          </select>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="search()"><i class="fa fa-search fa-fw"></i> 查询</button>
        <button class="btn btn-success" (click)="clear()"><i class="fa fa-refresh fa-fw"></i> 重置</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="text-center"><input type="checkbox" class="checked" [checked]="isAllChecked()" (change)="checkAll($event)" /></th>
          <th class="text-center c-w-2">订购计费编码</th>
          <th class="text-center c-w-2">产品编码</th>
          <th class="text-center c-w-1">产品名称</th>
          <th class="text-center c-w-1">运营商名称</th>
          <th class="text-center c-w-2">省份名称</th>
          <th class="text-center c-w-1">内部计费编码</th>
          <th class="text-center c-w-1">外部计费编码</th>
          <th class="text-center c-w-2">修改时间</th>
          <th class="text-center c-w-2">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataList;let i = index" [ngClass]="{'grey':i%2===0, 'avtive':data.checkState}" (click)="checkTr(i)">
          <td class="text-center"><input type="checkbox" class="checked" value="{{data.id}}" [(ngModel)]="data.checkState" /></td>
          <td class="text-center ellipsis180" title="{{data.orderProductCode}}">{{data.orderProductCode}}</td>
          <td class="text-center ellipsis180" title="{{data.projectCode}}">{{data.projectCode}}</td>
          <td class="text-center ellipsis180" title="{{data.projectName}}">{{data.projectName}}</td>
          <td class="text-center ellipsis180" title="{{data.carrier}}">{{data.carrierName}}</td>
          <td class="text-center ellipsis180" title="provinceCode">{{data.provinceName}}</td>
          <td class="text-center ellipsis180" title="{{data.productCode}}">{{data.productCode}}</td>
          <td class="text-center ellipsis180" title="{{data.ttpProductCode}}">{{data.ttpProductCode}}</td>
          <td class="text-center" title="{{data.lastTime}}">{{data.lastTime | date:'y-MM-dd HH:mm:ss'}}</td>
          <td class="text-center">
            <button class="btn btn-success btn-sm" (click)="save(data.orderProductCode)"><i class="fa fa-pencil fa-fw"></i> 编辑</button>
            <button class="btn btn-danger btn-sm" (click)="del(data.orderProductCode)"><i class="fa fa-trash-o fa-fw"></i> 删除</button>
          </td>
        </tr>
        <tr *ngIf="dataList.length === 0">
          <td class="noData" colspan="10">暂无数据</td>
        </tr>
        </tbody>
      </table>
      <c-pagination *ngIf="dataList.length > 0" [pageSize]="options.rows" (pageChange)="onPageChanged($event)" [collectionSize]="options.pageCount" [(page)]="options.page" [total]="options.total" [boundaryLinks]="true"></c-pagination>
    </div>
  </div>
</div>
