<div class="container-fluid">
  <form [formGroup]="saveOutChargeForm">
    <div class="modal-header">
      <h5 class="modal-title">{{paramModal === '' ? '新增' : '修改'}}外部计费产品</h5>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right"><span class="text-danger">*</span> 外部计费编码：</label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="productCode" placeholder="32个字符以内">
              <div class="c-validator-invalid" [hidden]="!(saveOutChargeForm.controls['productCode'].errors && saveOutChargeForm.controls['productCode'].dirty)">32个字符以内！</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right"><span class="text-danger">*</span> 外部计费名称：</label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="productName" placeholder="32个字符以内">
              <div class="c-validator-invalid" [hidden]="!(saveOutChargeForm.controls['productName'].errors && saveOutChargeForm.controls['productName'].dirty)">32个字符以内！</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 项目编码：</label>
            <div class="col-md-6">
              <select class="form-control d-inline" formControlName="itemCode" (change)="getOthers()">
                <option value="">请选择编码</option>
                <!--<option *ngFor="let item of itemData" [value]="item.sProjectCode">{{item.sProject}}</option>-->
                <option *ngFor="let item of itemData" [value]="item.sProjectCode">{{item.sProjectCode}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" readonly formControlName="iName" placeholder="项目名称">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 节点编码：</label>
            <div class="col-md-6">
              <select class="form-control d-inline" formControlName="nodeCode" (change)="getnName()">
                <option value="">请选择编码</option>
                <!--<option *ngFor="let item of nodeData" [value]="item.nodeCode">{{item.alias}}</option>-->
                <option *ngFor="let item of nodeData" [value]="item.nodeCode">{{item.nodeCode}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" readonly formControlName="nName" placeholder="项目名称">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right"><span class="text-danger">*</span> CPID：</label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="cpId" placeholder="4个字符以内">
              <div class="c-validator-invalid" [hidden]="!(saveOutChargeForm.controls['cpId'].errors && saveOutChargeForm.controls['cpId'].dirty)">4个字符以内！</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right"><span class="text-danger">*</span> 价格：</label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="price" placeholder="5个字符以内，数字、或数字加小数点后两位">
              <div class="c-validator-invalid" [hidden]="!(saveOutChargeForm.controls['price'].errors && saveOutChargeForm.controls['price'].dirty)">5个字符以内，数字、或数字加小数点后两位！</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 开发平台：</label>
            <div class="col-md-9">
              <label class="radio-inline" *ngFor="let item of devPlatformData;">
                <input type="radio" name="devPlatform" formControlName="devPlatform" [value]="item.type"/> {{item.value}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 计费编码类型：</label>
            <div class="col-md-9">
              <label class="radio-inline" *ngFor="let item of concodeTypeData;">
                <input type="radio" name="codeType" formControlName="codeType" [value]="item.type"/> {{item.value}}
              </label>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <div class="row">
        <button type="button" class="btn btn-primary" (click)="ok()">
          <i class="fa fa-check" aria-hidden="true"></i> 确定</button>
        <button type="button" class="btn btn-light  c-ml15" (click)="close()">
          <i class="fa fa-close" aria-hidden="true"></i> 关闭</button>
      </div>
    </div>

  </form>
</div>
