<div class="container-fluid">
  <form [formGroup]="saveProjectForm">
    <div class="modal-header">
      <h5 class="modal-title">{{modalData === "" ? "新增" : "修改"}}项目</h5>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 项目类别：</label>
            <div class="col-md-9">
              <select class="form-control d-inline" formControlName="projectType" (change)="getItemPro()">
                <!--<option value="">请选择项目类别</option>-->
                <option *ngFor="let item of projectTypeData" [value]="item.type">{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 项目：</label>
            <div class="col-md-9">
              <select class="form-control d-inline" formControlName="itemCode" (change)="getProvinces()">
                <option value="">请选择项目</option>
                <option *ngFor="let item of itemData" [value]="item.projectCode">{{item.projectName}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 省份：</label>
            <div class="col-md-9">
              <select class="form-control d-inline" formControlName="provinceCode">
                <option value="">请选择省份</option>
                <option *ngFor="let item of provincesList" [value]="item.provinceCode">{{item.provinceName}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right limitlabel"><input type="checkbox" [checked]="isAllChecked()" [disabled]="isAllDisabled()" (change)="checkAll($event)" />产品：</label>
            <div class="col-md-9">
              <label class="checkbox-inline" *ngFor="let item of allProduct;let i = index">
                <input type="checkbox" name="{{item.sProductName}}" [checked]="item.checkState" (change)="checkSingle($event, i)" value="{{item.sProductCode}}"> {{item.sProductName}}
              </label>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <div class="row">
        <button type="button" class="btn btn-primary" (click)="ok()">
        <i class="fa fa-check" aria-hidden="true"></i> 确定</button>
        <button type="button" class="btn btn-light  c-ml15" (click)="close()">
        <i class="fa fa-close" aria-hidden="true"></i> 关闭</button>
      </div>
    </div>

  </form>
</div>
