@import '../../../assets/scss/base/app-base.scss';

.lh{
  line-height: 110px;
}
.showImgs{
  margin-top: 10px;
  .img {
    //width: 160px;
    //height: 80px;
    float: left;
    position: relative;
    margin-right: 15px;
    padding: 8px;
    border: 1px dashed #cecece;
    @include radiuds(3px);
    img {
      width: 160px;
      height: 100px;
      padding: 0;
      cursor: pointer;
    }
  }
}
