<div class="container-fluid">
  <form [formGroup]="saveInterfaceForm">
    <div class="modal-header">
      <h5 class="modal-title">{{paramModal === '' ? '新增' : '修改'}}接口信息</h5>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 接口编码：</label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="apiCode" placeholder="接口编码共6位：1位平台标识 2位业务标识 3位流水号" value="" >
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">
              <span class="text-danger">*</span> 平台标识：</label>
            <div class="col-md-9">
              <select class="form-control d-inline" formControlName="apiPlatform">
                <option value="">请选择</option>
                <option *ngFor="let item of apiPlatforms" [value]="item.type">{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">接口名称：</label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="apiName" placeholder="32个字符以内" value="" >
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-right">接口说明：</label>
              <div class="col-md-9">
                <input type="text" class="form-control" formControlName="apiDes" placeholder="128个字符以内" value="" >
              </div>

          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <div class="row">
        <button type="button" class="btn btn-primary" (click)="ok()">
        <i class="fa fa-check" aria-hidden="true"></i> 确定</button>
        <button type="button" class="btn btn-light  c-ml15" (click)="close()">
        <i class="fa fa-close" aria-hidden="true"></i> 关闭</button>
      </div>
    </div>

  </form>
</div>
