@import '../../../../assets/scss/base/app-base.scss';
.modal-title span{margin:  0 7px;}
.box li{ width: 120px; height: 90px; background: #fff;float: left;margin: 0 5px 5px 0; cursor: pointer;text-align: center;font-size: 14px;position: relative;border-radius: 5px;border: 1px solid #ccc;color: #000;}
.box button.btn-primary {position: absolute;bottom: 0;left: 0;display: none;}
.box button.btn-danger {position: absolute;bottom: 0;right: 0;display: none;}
.box li:hover .btn{display: block;}
.box li.img{ background: url("../../../../assets/img/addCourse.jpg"); background-size :  100% 100%}
.box li span{margin: 10px 0;display: block;}
.link_div{
  //background: #f86c6b;
  display:inline-block;
  line-height: 15px;
  border-radius: 3px;
  width: 80.61px;
  height: 26px;
  a{
    color: #fafafa;
    display:inline-block;
    margin-left:-6px;
  }
  a:hover{
    text-decoration:none;
  }
}
